#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    #sFaq1{
        margin-top: 10px;
        width: 90%;
    }
    #sFaq2{
        width: 70%;
        background-color: $colorFondo;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 18px;
            background-color: $colorSecundario;
            text-align: center;
        }
        p{
            font-size: 17px;
            text-align: center;
            margin-bottom: 0px;
        }
        .redesFaq{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 20px 0px;
            a{
                height: 50px;
                width: 50px;
                transition: 300ms;
                img{
                    height: 50px;
                    width: 50px;
                }
            }
            a:hover{
                scale: 1.15;
            }
        }
    }
}

@media (min-width: 768px){
    #faq{
        #sFaq1{
            margin-top: 30px;
        }
        #sFaq2{
            width: 400px;
            height: 220px;
            margin: 60px 0px;
            h2{
                font-size: 23px;
                width: 100%;
            }
            p{
                font-size: 20px;
            }
            .redesFaq{
                margin-bottom: 20px;
                a{
                    height: 70px;
                    width: 70px;
                    img{
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }
    }
}