#inicio{
    display: flex;
    flex-direction: column;
    #section1 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .mobile__style{
            width: 75%;
            height: 75%;
        }
    }

    #section2 {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .mobile__style{
            display: block;
            width: 75%;
            padding: 10px;
            text-align: justify;
            font-size: 15px;
            background-color: $colorSecundario;
            border: $border;
        }
           
    }

    .separador {
        background-image:url(../../images/navbar.png) ;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        h2 {
            font-size: 20px;
            background-color: rgb(255, 221, 214);
            margin: 0;
        }
    }

    .onlyMobile{
        #ultimosProductos {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
            img{
                border: $border;
                padding: 5px;
                background-color: $colorSecundario;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                transition: all 300ms;
            }
            img:hover{
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-2%);
            }
        }
    }
    
}

@media (min-width: 768px) {
    
    #inicio{
        #section1{
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 75px 75px 75px 75px ;
            grid-template-areas: 
            "desayuno collage"
            "tarta collage"
            "sandwich collage"
            "merienda collage";
            justify-items: center;
            align-items: center;
            .collage{
                height: 300px;
                width: 300px;
            }
        }

        #section2{
            .mobile__style{
                font-size: 18px;
            }
           
        }

        .separador{
            background-size: auto;
            height: 40px;

            h2{
                font-size: 23px;
                text-align: center;
            }
        
        }

        .tarjetas{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            .tarjetas--style{
                height: 280px;
                width: 230px;
                background-color: $colorPrimario;
                border: $border;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                transition: all 300ms;
                a{
                    text-decoration: none;
                    background-color: rgb(214, 160, 148);
                    color: black;
                    padding: 5px;
                    border: $border;
                }
                img{
                    border: $border;
                }
            }
            .tarjetas--style:hover{
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-2%);
            }
        }
    }
   
}

@media (min-width: 1024px) {
    #inicio{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 4fr  1fr 2fr;
        grid-template-areas: 
        "section1 section2 "
        "separador separador"
        "tarjetas tarjetas";
        align-items:center;

        #section1{
            grid-template-columns: 350px 350px;
            grid-template-rows: 85px 85px 85px 85px ;
            margin-top: 0px;
            .collage{
                height: 350px;
                width: 350px;
            }
        }

        #section2{
            height: 420px;
            margin-top: 0px;
            width: 300px;
            .mobile__style{
                display: none;
            }
            .desktop__only{
                display: initial;
                background-color: $colorSecundario;
                font-size: 21px;
                margin-bottom: 0px;
                margin-left: 20px;
                padding: 15px;
                border: $border;
            }
        }
        .separador{
            grid-area: separador;
            margin-top: 0px;
        }
        .tarjetas{
            grid-area: tarjetas;
            margin-top: 0px;
            .tarjetas--style{
                height: 330px;
                width: 280px;
                p{
                    font-size: 17px;
                }
                a{
                    font-size: 18px;
                }
            }
        
        }
    }
}