#pedido{
    border-top: $border;
    #sPedido1{
        .separadorPedido{
            display: flex;
            margin-top: 0px;
            background-image: url(../../images/navbar.png);
            background-size: cover;
            justify-content: center;
            h2{
                font-size: 23px;
                margin: 0px;
                background-color: $colorSecundario;
            }
        }
        .pedidoProductos{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            img{
                padding: 10px;
                background-color: $colorSecundario;
                border: $border;
            }
        }
    }

    #sPedido2{
        .separadorCarrito{
            display: flex;
            margin-top: 20px;
            background-image: url(../../images/navbar.png);
            background-size: cover;
            justify-content: center;
            h2{
                font-size: 18px;
                margin: 0px;
                background-color: $colorSecundario;
            }
        }

        .pedido{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                margin-top: 20px;
                margin-bottom: 50px;
                height: 55%;
                width: 55%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    
}

@media (min-width: 768px){
    #pedido{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sPedido2 sPedido1";
        #sPedido1{
            .separadorPedido{
                h2{
                    font-size: 23px;
                }
            }
            .pedidoProductos{
                flex-direction: column;
                align-items: center;
                img {
                    padding: 5px;
                    background-color: rgb(214, 160, 148);
                    margin-bottom: 15px;
                }
            
            }
        }
        #sPedido2{
            border-right: 2px black solid;
            .separadorCarrito{
                margin-top: 0px;
                h2{
                    font-size: 23px;
                }
            }
            .pedido{
                a{
                    height: 300px;
                    width: 300px;
                }
            }
        }
    
    }

}

@media (min-width: 1024px) {

    #pedido{
        #sPedido1{
            .separadorPedido{
                h2{
                    font-size: 25px;
                }
            }
            .pedidoProductos{
                img{
                    width: 175px;
                    height: 175px;
                }
            }
        }

        #sPedido2{
            .separadorCarrito{
                h2{
                    font-size: 25px;
                }
            }
            .pedido a{
                margin-top: 60px;
            }
        }
    }

}