.collage{
    grid-area: collage;
}

.desayuno{
    grid-area: desayuno;
}

.tarta{
    grid-area: tarta;
}

.sandwich{
    grid-area: sandwich;
}

.merienda{
    grid-area: merienda;
}

#section1{
    grid-area: section1;
}

#section2{
    grid-area: section2;
}

.separador{
    grid-area: separador;
}

.tarjetas{
    grid-area: tarjetas;
}

.sNosotros1{
    grid-area: section1;
}

.sNosotros2{
    grid-area: section2;
}

#sPedido1{
    grid-area: sPedido1;
}

#sPedido2{
    grid-area: sPedido2;
}